*{
    margin: 0;
    border: 0;
    box-sizing: border-box;    
}

body{
    background-color: rgb(8, 30, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    color: aliceblue;
}

.hide{
    display: none !important;
}

.container{
    min-height: 400px;
    min-width: 400px;
    background-color: rgb(9, 9, 48);
    padding: 2rem;
}

/* imc form */
#calc-container h2{
    text-align: center;
    margin-bottom: 2rem;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

.form-control label{
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.form-control input{
    padding: 1rem 0.5rem;
}

.action-control{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

button{
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: rgb(59, 224, 26);
    border: none;
    cursor: pointer;
    opacity: 0.9;
    flex: 1;
}

button:hover{
    opacity: 1;
}

#clear-btn{
    background-color: darkcyan;
}

#result-container{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#imc-number{
    font-size: 2.4rem;
    margin-bottom: .6rem;
}

#imc-info{
    font-size: 1.4rem;
    color: #ccc;
}

#result-container h3{
   margin-top: 1rem;
}

#imc-table{
    margin: 1.5rem 0;
    font-size: .8rem;
}

.table-header{
    font-weight: bold;
    color: #ccc;
}

.table-header,
.table-data{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #444;
}

.table-header h4,
.table-data p{
    flex: 1;
}

.table-data h4:nth-child(3),
.table-header p:nth-child(3){
max-width: 80px;
}

#back-btn{
    align-self: center;
}

.good{
    color: green;
}

.low{
    color: yellow;
}

.medium{
    color: orange;
}

.high{
    color: red;
}